.columns > div {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
}

.columns img {
  height: 509px;
  width: auto;

}
.columns div:first-child {
  flex-grow: 1.7;
}
.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
.useravatar picture img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.useravatar h2{
  margin: 0 !important;
}
/* .useravatar p{
  position: relative;
  top: 37px;
  right: 100px;
} */
 .useravatar .icon img{
  width: 24px !important;
  height: 24px !important;
 }
.useravatar ul{
  display: flex;
  list-style-type: none;
}