footer {
  background-color: #202020;
  color: #ebebeb;
  margin-top: 3rem;
  padding: 1rem 0 1.5rem;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}
.footer-txt{
  margin-top: 10px;
}
@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
  footer .footer-nav ul {
    display: flex;
    gap: 24px;
    margin: 0;
    list-style-type: none !important;
}
footer .footer-nav  {
  margin-bottom: 30px ;
}
}

.footer-nav .default-content-wrapper{
  display: flex !important;
  justify-content: space-between ;
  align-items: center !important;
}
.footer-nav div:first-child{
  padding: 0 !important;
}
.footer-nav p:first-child{
  flex-grow: 0.3 !important;
}
.footer-nav ul:nth-child(2){
  flex-grow: 1 !important;
}
.footer-nav ul:nth-child(4){
  background: #fff;
  padding: 8px !important;
  margin-left: 8px !important;
}
.icon-wknd-logo-light{
  width: 128px;
  height: auto;
  cursor: pointer;
}
footer .button{
  all:unset !important
}
footer li a{
  color: #fff !important;
}
footer .footer-txt a{
  color: #fff !important;
  text-decoration: underline !important;
}
@media (width <= 900px) {
  .footer-nav .default-content-wrapper{
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-nav .default-content-wrapper li{
    width: fit-content;
  }
  .footer-nav .default-content-wrapper ul{
    padding: 0 !important;
  }
  .footer-nav .default-content-wrapper ul:nth-child(4){
    display: flex;
  }
  .footer-nav .default-content-wrapper ul{
    list-style: none;
  }
}